<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d6b89b">  <td>20/01/25 15:42:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetApiTest.getTest()[pri:0, instance:com.qa.tests.GetApiTest@63021689]">getTest</td> 
  <td>main@49752459</td>   <td></td> </tr>
<tr bgcolor="d6b89b">  <td>20/01/25 15:42:08</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GetApiTest.setUp()[pri:0, instance:com.qa.tests.GetApiTest@63021689]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@49752459</td>   <td></td> </tr>
</table>
